<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5">
      <div class="card mb-3 mt-3">
        <img
          src="<%= recipe.details.thumbnail %>"
          class="card-img-top"
          alt="recipe Image"
        />
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title text-center mb-2">
          <%= recipe.basicInfo.recipeName %>
        </h2>
      </div>
      <div class="recipeInfo" style=" display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;">
        <div class="card-text d-flex recipe-info-extras" style="margin-bottom: -15px;">
          <p class="text-body-secondary info-items" style="width: 70px;">time:</p>
          <p class="text-body-secondary">
            <%= recipe.basicInfo.duration.value %>
          </p>
        </div>
        <div class="card-text d-flex recipe-info-extras" style="margin-bottom: -15px;">
          <p class="text-body-secondary info-items" style="width: 70px;">level:</p>
          <p class="text-body-secondary"><%= recipe.basicInfo.level.value %></p>
        </div>
        <div class="card-text d-flex recipe-info-extras" style="margin-bottom: -15px;">
          <p class="text-body-secondary info-items" style="width: 70px;">serves:</p>
          <p class="text-body-secondary">
            <%= recipe.basicInfo.serving.value %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutRecipe" style="margin-top: 30px;">
    <% recipe.details.about.forEach(el => { %>
    <div class="aboutRecipeContainer" style="width: 100%;
    margin: 16px initial;">
      <% if (el.type === 'text') { %>
      <div><%= el.value %></div>
      <% } else if (el.type === 'image') { %>
      <div class="container text-center mt-5 mb-5">
        <div class="row">
          <% el.value.forEach(details => { %>
          <div class="col-sm-6 col-md-4 m-auto">
            <img
              src="<%= details.thumbnail %>"
              class="img-fluid rounded-start"
              alt="thumbnail"
            />
          </div>
          <% }) %>
        </div>
      </div>
      <% } %>
    </div>
    <% }) %>
    <div class="ingredients mt-5 mb-5">
      <h4>Ingredients</h4>
      <div class="container text-center pt-4 pb-4 ingredientContainer" style="background: #e7e7e7;">
        <div class="row">
          <div class="col">
            <h6>Main Ingredients</h6>
            <ul class="list-group list-group-flush">
              <% recipe.directions.ingredients.forEach(el => { %>
                <% if (el.type === 'main') { %>
              <li class="list-group-item text-start"><%= el.name %></li>
              <% } }) %>
            </ul>
          </div>
          <div class="col">
            <h6>Dressing</h6>
            <ul class="list-group list-group-flush">
              <% recipe.directions.ingredients.forEach(el => { %>
               <% if (el.type === 'dressing') { %>
              <li class="list-group-item text-start"><%= el.name %></li>
              <% } }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="mb-2">Directions</h4>
      <div>
        <% recipe.directions.methods.forEach((methods, index) => { const { step } = methods %>
        <div>
          <% step.forEach(el => { %> 
            <% if (el.type === 'title') { %>
              <div>
                <h6><%= 'Step ' + (index + 1) + ': ' + el.value %></h6>
              </div>
            <% } else { %>
              <div>
                <% if (el.type === 'text') { %>
                  <div><%= el.value %></div>
                <% } else if (el.type === 'image') { %>
                  <div class="container text-center mt-5 mb-5">
                    <div class="row">
                      <% el.value.forEach(details => { %>
                      <div class="col-sm-6 col-md-4 m-auto">
                        <img
                          src="<%= details.thumbnail %>"
                          class="img-fluid rounded-start"
                          alt="thumbnail"
                        />
                      </div>
                      <% }) %>
                    </div>
                  </div>
                <% } %>
              </div>
            <% } %> 
          <% }) %>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="mt-5 mb-5">
      <div>
        <div class="nutrition" style="display: flex;
        justify-content: center;
        flex-direction: column;">
          <div class="nutritionHeader" style=" display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          margin: auto;
          padding: 32px;
          background: #fee86d;">
            <h6 class="text-center">Nutritional Information</h6>
          </div>
          <div class="nutritionContainer" style="display: flex;
          flex-wrap: wrap;
          background: #f8f6e6;
          width: 90%;
          margin: auto;">
            <% recipe.nutritionalFacts.forEach((el, index) => { %>
            <div class="nutritionList" style="flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-right: 15px;">
              <p><%= el.amount %> <%= el.unit %></p>
              <p class="nutrientName" style="margin-top: -15px;"><%= el.name %></p>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
